# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Logs
logs/
log/
*.log

# Egg / build files
*.egg-info/
dist/
build/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Jupyter (if you ever use it)
.ipynb_checkpoints/